<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
            integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA=="
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="/css/main.css" type="text/css" />
        <title>Article</title>
    </head>
    <body>
        <h1 class="title"><%= article.title %></h1>
        <span class="created-at"
            ><%= article.createdAt.toLocaleDateString() %></span
        >
        <a class="all-articles" href="/"
            ><i class="fas fa-chevron-left"></i> All articles</a
        >
        <a class="edit" href="edit/<%= article.id %>"
            ><i class="fas fa-edit"></i
        ></a>
        <div class="markdown"><%- article.sanitizedHtml %></div>
    </body>
</html>
